PORT=5000
TRUST_PROXY=

MONGODB_URL=

FRONTEND_URL=""
FRONTEND_WWW_URL=""

JWT_SECRET=
JWT_EXPIRE="5d"
COOKIE_EXPIRE=7

BREVO_API_KEY=
BREVO_SENDER_EMAIL="noreply@samridhienterprises.com"
BREVO_SENDER_NAME="Samridhi Enterprises"

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

